.imgur-image{
	height: 300px;
    -webkit-animation: fadein 0.5s;
}

.background {
	background: url("http://www.vectorfree.com/media/vectors/blue-background-with-stars.jpg") no-repeat center center fixed;
	-moz-background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
