.imgur-image{
	height: 300px;
    -webkit-animation: fadein 0.5s;
}

.background {
	background: #F0FFFF;
	-moz-background-size: cover;
  	-webkit-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.message {
  padding-top: 20px;
  font-family: monospace;
  font-weight: 900;
  color: red;
}

.search {
	font-weight: 900;
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
